{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Access Denied</h1>
  <p class="govuk-body">Invalid or missing security token. Please go back and try again.</p>
{% endblock %}
